<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055632925783-eg5eod9497dfuhvptguqebdigu1cm6td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055632925783-eg5eod9497dfuhvptguqebdigu1cm6td</string>
	<key>API_KEY</key>
	<string>AIzaSyB5wi0OrXZh5i7zAIdSZw5w_hAvF0-IKWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1055632925783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tworoomVer2</string>
	<key>PROJECT_ID</key>
	<string>tworoom-ver2</string>
	<key>STORAGE_BUCKET</key>
	<string>tworoom-ver2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055632925783:ios:77a288f4192d35daffef12</string>
</dict>
</plist>